@use '../../styles/mixins.scss' as *;

.container {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-accent);
  box-shadow: 0 0 1rem var(--color-x-accent);
  padding: 0.5rem;
  border-radius: 1rem;

  @include animation-pulsate;
}

.profileImage {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.infoContainer {
  margin-left: 1.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-xx-contrast);
}

.levelContainer {
  font-size: 1rem;
  margin-top: 0.5rem;

  .levelImg {
    margin-right: 0.5rem;
  }
}
