.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 8rem;
  height: var(--size-height-experiencebar);
  display: flex;
  align-items: center;

  span {
    font-size: 1rem;
  }

  > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--color-xxx-contrast);
    margin: 0 1.5rem;
    position: relative;

    div {
      height: 4px;
      border-radius: 4px;
      background: var(--color-positive);
    }
  }
}

.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
