@mixin animation-pulsate(
  $type: box-shadow,
  $initial: 0 0 1rem var(--color-x-accent),
  $final: 0 0 1rem var(--color-xxxx-contrast),
  $duration: 1.4s
) {
  animation-name: pulsate;
  animation-duration: #{$duration};
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

  @keyframes pulsate {
    0% {
      #{$type}: #{$initial};
    }
    100% {
      #{$type}: #{$final};
    }
  }
}
