@mixin animation-pulsate(
  $duration: 1.4s,
  $colorStart: var(--color-xxxx-contrast),
  $colorEnd: var(--color-accent)
) {
  animation-name: pulsate;
  animation-duration: #{$duration};
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;

  @keyframes pulsate {
    0% {
      box-shadow: 0 0 1rem #{$colorStart};
    }
    100% {
      box-shadow: 0 0 1rem #{$colorEnd};
    }
  }
}
